body{background-color: white;}
.Logout
{
    margin-top: 600px;
    border-radius: 20px;
    background-color: gray;
    border: 10px black;
    color: black;
}
/* .left
{
    display: flex;
    height: 500px;
    width: 1000px;
    margin-left: 125px;
    margin-top: 20px;
} */