/* ------------------ LOGIN PAGE ------------------ */

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
}

/* Full center layout */
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left:280px;
}

/* Title */
.login-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ff4c4c;
}

/* Form Box */
.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Inputs */
.login-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  background-color: #222;
}

/* Focus Animation */
.login-form input:focus {
  border: 1px solid #ff0000;
}

/* Button */
.login-form button {
  padding: 12px;
  font-size: 18px;
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover */
.login-form button:hover {
  background-color: #d40000;
}

/* Success / Error message */
.message {
  margin-top: 20px;
  font-size: 18px;
  color: #ff4c4c;
  animation: fade 0.8s;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
