.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  margin-left: 450px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: rgb(2, 2, 2);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 15px;
  font-weight: bold;
  color:black;
}
